.signature2 {
    position: relative;

    &::before {

        content: "";
        position: absolute;
        background: #171616;
        left: 0;
        bottom: -2px;
        width: 108px;
        height: 1px;
    }
}



@media print {
    .app-content{
       
        .side-app{
            background: white !important;
        }
    }
    .card{
        &.legal-entity-payment{
            .print-every-page {
                page-break-after: always;
            }
            .print-page {
                page-break-before: always;
            }
            td {
                font-size: 9px !important;
            }
            .t-head{
                display:table-header-group;
            }
            .t-body{
                display:table-footer-group;
            }
        }
    }


    #back-to-top{
        display: none !important;
    }
    .print-entity-payment-btn{
        display: none !important;
    }

    .footer{
        &.legal-entity{
            display: none !important;
        }
       
    }
   
}